body, h1, h2, p{
    margin: 0;
    padding: 0;
   
}
body{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
img{
    display: block;
    max-width: 100%;
 
    
}

/* HEADER */




.imgded{
    width: 10%;
}
.div-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    align-items: center;
    
    
   

}



/* LISTA */
.lista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    color: black;
    font-size: 30px;
    
}

.header{
    margin-bottom: 18px;
}

.lista a{
    color: rgb(10, 10, 10) ;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid  rgba(255, 0, 0, 0)(0, 0, 0);
    padding-bottom: 5px;
}

.lista a:hover{
      border-bottom: 2px solid black;
      

}
/* FIM LISTA */



/* BOTÃO AMBIENTE */
#botao-entre-paginas a{
    
    color: rgb(90, 11, 11);
    border-bottom: 2px solid black;

}
#botao-entre-paginas a:hover{
    
    color: #f8bb12;

}


    

/* FIM, BOTÃO AMBIENTE */


.musica-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    gap: 64px;
   
}

.padrão{
    display: flex;
    flex-direction: column;
    color: #f8bb12;
    align-items: center;
}


.main{
    display: flex;
    flex-direction: column;
    gap: 42px;
    
}
.youtube-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    justify-content: space-around;
    
    
}





.youtube-flex-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    
    
}

.youtube-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #f8bb12;
    align-items: center;
    margin: 0 auto;
    
}

.frame{
    border-radius: 8px;
    object-fit: cover;
    position: relative;
}

@media(max-width:1000px){
    .lista a{
        color: rgb(10, 10, 10) ;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        border: 2px solid  rgba(255, 0, 0, 0)(0, 0, 0);
        padding-bottom: 5px;

    }
    .lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       
        list-style: none;
        color: black;
        font-size: 30px;
        
    }
}